# Ignore node_modules, it will be installed in the container
node_modules

# Ignore local development files and logs
npm-debug.log
.env

# Ignore Docker and git files
Dockerfile
.dockerignore
.git
.gitignore
